################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Legalita.sln
/Web.config
/.vs/Legalita/v14/.suo
/.vs/config/applicationhost.config
