<div class="lg-gioco" ng-controller="QuizController">
    <div class="lg-barragioco">
        <div class="lg-barragioco-vite">
            <div class="lg-vita-1 {{GetCssVita(1)}}"></div>
            <div class="lg-vita-2 {{GetCssVita(2)}}"></div>
            <div class="lg-vita-3 {{GetCssVita(3)}}"></div>
            <div class="lg-vita-4 {{GetCssVita(4)}}"></div>
            <div class="lg-vita-5 {{GetCssVita(5)}}"></div>
        </div>
        <div class="lg-barragioco-avatar">
            <div class="lg-barragioco-avatar-message">{{Profile.currentTema.nome}}</div>
            <img src="{{Profile.avatar.img}}" />
        </div>
        <div class="superclear"></div>
    </div>
    <div class="lg-gioco-domanda">{{Profile.domandaCorrente.domanda}}</div>
    <div class="lg-gioco-immagine" ng-class="{ nascondi: HaRisposto }"><img src="{{Profile.domandaCorrente.img}}" /></div>
    <div class="lg-gioco-corretta" ng-class="{ nascondi: (!HaRisposto || !HaRispostoCorrettamente)}"><img src="img/risposta-1.png" /></div>
    <div class="lg-gioco-sbagliata" ng-class="{ nascondi: (!HaRisposto || HaRispostoCorrettamente)}"><img src="img/risposta-0.png" /></div>
    <div class="lg-gioco-risposte">
        <div ng-repeat="risposta in Profile.domandaCorrente.risposte" class="lg-gioco-risposta-{{ $index + 1 }}">
            <div class="lg-gioco-{{risposta.id.toLowerCase()}}">{{risposta.id}}:</div>
            <div class="lg-gioco-risposta-{{risposta.id.toLowerCase()}}">{{risposta.risposta}}</div>
        </div>
    </div>
    <div class="lg-gioco-bottoni" ng-class="{ nascondi: HaRisposto }">
        <div class="lg-gioco-bottone-1"> <a ng-click="Rispondi('A')" href=""><img src="img/b-1.png" /></a> </div>
        <div class="lg-gioco-bottone-2"> <a ng-click="Rispondi('B')" href=""><img src="img/b-2.png" /></a> </div>
        <div class="lg-gioco-bottone-3"> <a ng-click="Rispondi('C')" href=""><img src="img/b-3.png" /></a> </div>
        <div class="lg-gioco-bottone-4"> <a ng-click="Rispondi('D')" href=""><img src="img/b-4.png" /></a> </div>
    </div>
    <div class="lg-gioco-bottoni-risposta"  ng-class="{ nascondi: !HaRisposto }">
        <div class="lg-gioco-bottone-approfondisci" ng-class="{ nascondi: !HaApprofondimento }"> <a href="{{Profile.domandaCorrente.linkApprofondimento}}" target="_blank"><img src="img/approfondisci.png" /></a> </div>
        <div class="lg-gioco-bottone-continuailgioco"> <a href="/gioco"><img src="img/continuailgioco.png" /></a> </div>
    </div>
</div>
        
