<div class="lg-home" ng-controller="HomeController">
    <div class="lg-logo-intro"> <a class="logo-intro" href="avatar"><img src="img/logo-legalitagame.png" /></a> </div>
    <div class="lg-page-intro">
        <h4><b>Si ringraziano:</b></h4>
        <div class="loghi"> <a href="http://www.libera.it/" target="_blank"><img src="img/logo-libera.png" /></a> <a href="http://www.fondazionecampori.it/" target="_blank"><img src="img/logo-campori.png" /></a> <a href="http://www.coopernico.it/" target="_blank"><img src="img/logo-copernico.png" /></a> <a href="https://www.facebook.com/spaziogiovani.soliera" target="_blank"><img src="img/logo-reset.png" /></a> <a href="http://www.civibox.it/" target="_blank"><img src="img/logo-civibox.png" /></a> </div>
        <p><b>Legalit&agrave; Game</b> &egrave; stato realizzato tra luglio e dicembre 2016 presso lo Spazio Giovani Reset di Soliera. Si ringraziano i ragazzi che hanno partecipato al progetto: Abdel, Alessandro, Ciro, Davide D., Davide O., Giada, Giovanni, Ilyas, Maryem, Marianna, Mihail, Monta, Nikolas, Roberto, Sabrina, Silvia, Zakaria, e gli operatori dello Spazio Giovani!</p>
    </div>
</div>